.div__main__grid__productview {
  /* display: grid;
  place-items: center;
  max-width: 100%; */
  /* margin-top: 14px; */
}
.image__product {
  background-size: contain !important;
  /* max-width: 700px; */
  min-width: 100%;
}

.productViewMain {
  /* display: flex;
  padding: 24px; */
}

.avatarContainer {
  display: flex;
}

.productViewDetailsFont {
  font-weight: bolder;
  color: #06201b;
}

.productViewDetails {
  font-weight: 550;
  color: #404142;
  margin: 10px;
}

.productViewDetailsh2 {
  font-weight: 550;
  color: #404142;
  margin-bottom: 10px;
}
.prodPricedet {
  font-weight: bold;
  color: rgb(223, 18, 18);
}

.avatarContainer {
  margin: 24px 0px;
  align-items: center;
}
.avatarContainer__div {
  padding: 0 10px;
}

.Payment {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}
.Payment > * {
  background-color: #fff6ff;
  font-size: 14px;
  color: #e12165;
  margin: 4px;
}

.pay__div {
  display: flex;
  align-items: baseline;
}

.endtext {
  font-weight: 600;
  font-size: unset;
  color: #06201b;
}

.tophead {
  display: flex;
  align-items: center;
}
.leftAuto {
  margin-left: auto;
}

/* copied bullshit from above css page */

#testinLocalCSSusingId__inProductview .MuiGrid-item {
  /* display: grid;
  place-items: center;
  overflow-y: hidden; */
}

#testinLocalCSSusingId__inProductview .makeStyles-root-51 {
  width: 345px;
}

/* #testinLocalCSSusingId__inProductview .MuiGrid-root > * {
  min-width: 345px;
  min-height: 402.062px;
} */

.GiveWidth {
  /* min-width: 345px; */
  min-height: 402.062px !important;
}
.alignCenterForSecondGridwhihhchisInforGrid {
  margin-left: auto;
  margin-right: auto;
  margin: 0px 24px 0px 24px;
}

#testinLocalCSSusingId__inProductview .MuiButton-outlinedPrimary {
  font-weight: bold !important;
  background-image: linear-gradient(
    to right top,
    #3ad29f,
    #48db8a,
    #63e270,
    #84e74d,
    #a8eb12
  );
  color: #fff !important;
  border: none !important;
  outline: none !important;
}

#testinLocalCSSusingId__inProductview .MuiGrid-spacing-xs-2 {
  width: 100% !important;
  margin: 0px !important;
}

#testinLocalCSSusingId__inProductview
  .MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  top: 55px !important;
  box-shadow: none !important;
  background-color: transparent;
}

.last {
  min-width: 100% !important;
}

#Edit__options .MuiGrid-align-items-xs-center {
  align-items: flex-start;
  margin-left: 14px;
}

#Edit__options {
  position: fixed;
  bottom: 40px;
  left: 0px;
  z-index: 100;
}

.alreadySold {
  padding: 14px;
  min-width: auto !important;
  min-height: auto !important;
  background-image: radial-gradient(
    circle 597px at 93% 9.8%,
    rgba(255, 61, 89, 1) 1.7%,
    rgba(252, 251, 44, 1) 97%
  );
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  /* padding: 0px; */
  margin-top: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #06201b;
  border: 1px solid papayawhip;
}

#name__avatar__div {
  align-items: center;
}

.product__image__grid {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.product__image__grid > img {
  width: 60px;
  height: 60px;
}

/* media queries always at the end */
@media only screen and (max-width: 600px) {
  .GiveWidth {
    min-height: 300px !important;
  }
}

@media only screen and (min-width: 600px) {
  .GiveWidth {
    /* min-width: 345px; */
    min-height: 402.062px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .GiveWidth {
    min-height: 402.062px !important;
  }
  .alignCenterForSecondGridwhihhchisInforGrid {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .secondDivInGrid {
    font-size: 15px !important;
    margin-bottom: 40px;
  }

  #name__avatar__div .avatarContainer__div {
    font-size: 13px;
  }
  #name__avatar__div {
    display: flex;
    justify-content: space-between;
  }

  .Payment > * {
    font-size: 13px;
  }
  #name__avatar__div .productViewDetailsFont {
    font-weight: 500;
  }
}

@media only screen and (max-width: 400px) {
  .Payment > * {
    font-size: 10px;
    margin: 4px;
  }
}
