#testinLocalCSSusingId .MuiGrid-item {
  display: grid;
  place-items: center;
  overflow-y: hidden;
}

#testinLocalCSSusingId .makeStyles-root-51 {
  width: 345px;
}

#testinLocalCSSusingId .MuiGrid-root > * {
  /* min-width: 345px; */
  min-height: 402.062px;
}

.Advertisement {
  margin-bottom: 24px;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.button > * {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

#testinLocalCSSusingId .MuiButton-outlinedPrimary {
  font-weight: bold !important;
  background-image: linear-gradient(
    to right top,
    #3ad29f,
    #48db8a,
    #63e270,
    #84e74d,
    #a8eb12
  );
  color: #fff !important;
  border: none !important;
  outline: none !important;
}

.linkTextForCard {
  text-decoration: none !important;
  height: fit-content;
}

.like {
  padding: 0px 10px;
  margin-top: -14px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

#testinLocalCSSusingId .MuiGrid-spacing-xs-2 {
  width: 100% !important;
  margin: 0px !important;
}

#testinLocalCSSusingId
  .MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  top: 55px !important;
  box-shadow: none !important;
  background-color: transparent;
}

.popup__text {
  color: rgb(223, 18, 18);
}

/* .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2 > *:hover {
  display: none;
} */
/* 
.MuiGrid-root.grid__main.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-4.MuiGrid-grid-lg-4 {
}

.MuiGrid-root.grid__main.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-4.MuiGrid-grid-lg-4:hover {
} */

#testinLocalCSSusingId .MuiCardMedia-root.makeStyles-media-2 {
  transition: all 0.2s ease-in-out;
}

#testinLocalCSSusingId .MuiCardMedia-root.makeStyles-media-2:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 960px) and (max-width: 1060px) {
  #testinLocalCSSusingId .MuiGrid-root > * {
    /* min-width: auto; */
  }
}
