.image__product {
  background-size: contain !important;
  max-width: 700px;
  min-width: 100%;
}

@media only screen and (min-width: 600px) {
  .image__product {
    min-width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .image__product {
    min-width: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  .image__product {
    min-width: 100%;
  }
}
