.MuiGrid-item {
  display: grid;
  place-items: center;
  overflow-y: hidden;
}

.makeStyles-root-51 {
  width: 345px;
}

.MuiGrid-root > * {
  min-width: 345px;
  min-height: 402.062px;
}

.Advertisement {
  margin-bottom: 24px;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.button > * {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.MuiButton-outlinedPrimary {
  font-weight: bold !important;
  background-image: linear-gradient(
    to right top,
    #3ad29f,
    #48db8a,
    #63e270,
    #84e74d,
    #a8eb12
  );
  color: #fff !important;
  border: none !important;
  outline: none !important;
}

.linkTextForCard {
  text-decoration: none !important;
  height: fit-content;
}
