.main_div__grid {
  display: grid;
  place-items: center;
}

.main123 {
  display: flex;
  flex-direction: column;
  user-select: none;
  align-items: center;
  justify-content: center;
}

.header1 {
  font-size: 2rem;
  text-align: center;
  color: #06201b;
  margin-bottom: 10px;
}
.hr__tag {
  width: 50%;
  margin: auto;
  border: 2px solid;
  padding: 5px;
  background-color: #1976d2;
  border: none;
  margin-bottom: 10px;
}

.header3 {
  font-size: 1.8rem;
  text-align: center;
  color: #06201b;
  width: 100%;
  margin-bottom: 10px;
}
.para {
  font-size: 1rem;
  text-align: center;
  color: #06201b;
  width: 100%;
  margin-bottom: 10px;
}
.span1 {
  cursor: pointer;
  transition: 0.5sec;
  color: black;
  font-weight: bold;
}
.span1:hover {
  transform: scale(2);
}
.inp {
  padding: 1rem;
  margin: 20px 0;
  width: 80%;
  outline: none;
  border: none;
  border: 2px solid #06201b;
  border-radius: 1rem;
  text-decoration: none;
  background: transparent;
  transition: 1sec;
  font-size: 16px;
}
.inp:hover {
  transform: scale(1.05);
}

.butt {
  padding: 1rem 3rem;
  border-radius: 50px;
  color: white;
  background-color: #1976d2;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5sec;
}

.butt:hover {
  transform: scale(1.1);
}

.hr_line {
  width: 40%;
  border: 1px solid lightgrey;
  border: none;
  height: 1px;
  background-color: lightgrey;
}

.hr_right {
  width: 40%;
  border: 1px solid lightgrey;
  border: none;
  height: 1px;
  background-color: lightgrey;
}

.hrs {
  display: flex;
  width: 100%;
  padding: 14px;
  align-items: center;
  justify-content: space-between;
}

.coninueGoogle_butt {
  padding: 1rem 3rem;
  color: black;
  border: 1px solid black;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5sec;
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.coninueGoogle_butt:hover {
  transform: scale(1.1);
}

.smallBreakbetweenAuth {
  height: 5px;
}
