.router__div {
  display: flex;
  place-items: center;
  z-index: 400;
  font-family: "Libre Franklin", sans-serif;
  transition: transform 0.25s ease-in-out;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%);
  height: 80px;
}

.ul__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: white;
  padding-inline-start: 0px;
  text-decoration: none !important;
}

.ul__list > li {
  padding: 4px;
}

.header__Icons {
  margin-left: auto;
  padding: 24px;
}

.linkText {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  color: #06201b;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.nav__bar {
  text-align: center;
}

.stickyProp {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .ul__list > li {
    padding: 4px;
  }
  .linkText {
    font-size: 1rem;
  }
}

.userAuthEmail {
  font-size: 10px;
  font-weight: bold;
}

#singIn__button__homepage .MuiButton-containedPrimary {
  background-color: #1976d2;
  background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 300% 300%;
}
