.tets {
  /* display: grid;
  place-items: center; */
  padding: 14px;
}

@media screen and (min-width: 600px) {
  .bottomBar__main {
    display: flex;
    justify-content: center;
  }
}

#homepage__main ::-webkit-scrollbar {
  display: none;
}

#tets__id .MuiGrid-spacing-xs-1 {
  margin-bottom: 80px;
}
