.tets {
  display: grid;
  place-items: center;
  padding: 14px;
}

.bottomBar__main {
  /* display: grid;
  place-items: center;
  width: 50%; */
  /* height: 50%; */
}

@media screen and (min-width: 600px) {
  .bottomBar__main {
    display: flex;
    justify-content: center;
  }
}

#homepage__main ::-webkit-scrollbar {
  display: none;
}
