.mainfromList {
  display: flex;
  align-items: center;
}

.imagehomepageList {
  max-width: 30%;
  background-size: contain;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  #newsList__main .makeStyles-root-1 {
    width: 100px;
  }
}

@media only screen and (min-width: 600px) {
  #newsList__main .makeStyles-root-1 {
    width: 150px;
  }
}

@media only screen and (min-width: 900px) {
  #newsList__main .makeStyles-root-1 {
    width: 250px;
  }
}

.cardContent {
  font-size: 16px !important;
  line-height: 21px;
}

#newsList__main .MuiCardActions-root {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

.link__newsDecoration {
  text-decoration: inherit;
  color: inherit;
}

#newsList__main
  .MuiPaper-root
  .MuiCard-root
  .makeStyles-root-2
  .MuiPaper-elevation1
  .MuiPaper-rounded {
  min-width: 120px !important;
}

#newsList__main
  .MuiGrid-root
  .MuiGrid-item
  .MuiGrid-grid-xs-6
  .MuiGrid-grid-sm-4
  .MuiGrid-grid-md-4
  .MuiGrid-grid-lg-3 {
  min-width: 120px !important;
}
