.mainfromList {
  display: flex;
  align-items: center;
}

.imagehomepageList {
  max-width: 30%;
  background-size: contain;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  #newsList__main .makeStyles-root-1 {
    width: 100px;
  }
}

@media only screen and (min-width: 600px) {
  #newsList__main .makeStyles-root-1 {
    width: 150px;
  }
}

@media only screen and (min-width: 900px) {
  #newsList__main .makeStyles-root-1 {
    width: 250px;
  }
}

.cardContent {
  font-size: 16px !important;
  line-height: 21px;
}

#newsList__main .MuiCardActions-root {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

.link__newsDecoration {
  text-decoration: inherit;
  color: inherit;
}

#minWidth__card .makeStyles-root-2 {
  min-width: 120px;
}
