#QA__main {
  padding-bottom: 80px;
  margin-top: 85px;
}

#QA__main h3 {
  padding: 14px;
}

.icons__QA {
  display: flex;
  justify-content: space-around;
}

.dark_greyBox {
  background-color: #dee0e1;
  height: 24px;
}
.qa__mainDiv {
  padding: 14px;
}

.avatarAndids {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
}
.avatarAndids__innner {
  display: flex;
  flex-direction: column;
}

.avatarAndids__innner > span {
  color: rgb(75 75 101);
}
.avatarAndids__innner > strong {
  color: rgb(75 75 101);
}
.inner__answer {
  color: rgb(75 75 101);
  font-size: 15px;
  line-height: 1.4;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.qa__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.icon__p {
  color: #f50057;
  font-size: 14px;
}

.noOfAns {
  font-size: 15px;
  padding: 8px;
  font-weight: 500;
}

.answerComponetn__topMainDiv {
  max-width: 900px;
  margin: auto;
}

#oneIcon__collection .MuiIconButton-root {
  align-items: flex-end;
  padding: 0px;
}

.answer__seeMore {
  display: inline;
}
.answer__seeMore > p {
  display: inline;
}
.seeMoreAnswer__span {
  color: #f50057;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
}

.no__answers {
  margin: 14px;
  color: #06201b;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

#question__Tag {
  padding: 0px 14px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  color: #f44336;
}
