#main__appbar .MuiListItem-root {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  #appbar__bottom__div {
    max-width: 81% !important;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1200px) {
  #appbar__bottom__div {
    max-width: 960px !important;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
