#main__appbar .MuiListItem-root {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

#main__appbar {
  position: relative;
}

.appBAr {
  margin-top: 48px;
}

#filter__search {
  position: fixed;
  background-color: #d5d5d5;
  z-index: 400;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border-top: 5px solid #80808029;
  border-bottom: 5px solid #80808029;
  background-color: #fff;
}

#filter__search > span {
  padding-right: 10px;
  color: #3f51b5;
  margin-bottom: -14px;
}

#filter__search .makeStyles-formControl-8 {
  margin: 4px;
  min-width: 100px;
}

#seemoreQuestions {
  color: rgb(63, 81, 181);
  cursor: pointer;
  text-decoration: underline;
  padding: 14px;
  text-transform: capitalize;
  text-align: center;
}

@media only screen and (min-width: 960px) {
  #filter__search {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  #appbar__bottom__div {
    max-width: 81% !important;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #filter__search {
    width: 81%;
  }
}

@media only screen and (min-width: 1200px) {
  #appbar__bottom__div {
    max-width: 960px !important;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #filter__search {
    width: 915px;
  }
}
