.App {
  /* display: grid;
  place-items: center; */
  min-height: 100vh;
  position: relative;
}

.skeleton__div {
  display: grid;
  place-items: center;
}

/* CSS appplied gloablly for Signed in as Snackbar */
.signedAs {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  background-color: #1976d2;
  color: white;
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
  font-size: 13px;
  padding: 0px 7px;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.linkTextForCard {
  text-decoration: none !important;
  height: fit-content;
}

.link__newsDecoration {
  text-decoration: inherit;
  color: inherit;
}

/* when device is wider than 960px it needs to get squuezed in width */

@media screen and (min-width: 960px) {
  .App {
    width: 80vw;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
